.ApresentationContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .container {
    width: 75dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      transform 0.6s cubic-bezier(0.13, 0.58, 1, 0.95),
      justify-content 0.3s ease;

    .contact {
      color: rgba(83, 82, 82, 0.7);
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-360%);
      transition:
        transform 0.6s cubic-bezier(0.13, 0.58, 1, 0.95),
        opacity 0.3s ease 0.1s;
    }

    .showContact {
      transform: translateX(30%);
      opacity: 1;
    }
  }
  .containerShifted {
    transform: translateX(-12%);
  }
}
.CopyrightLogo {
  margin-left: 1rem;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 10rem;
  background: transparent;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}
